.liveNote {
  background: radial-gradient(at 0 0, #339c3a26, #ffffff);
  min-height: 100vh;
}

.liveNote .page {
  display: flex;
}

.liveNote .page .data {
  padding: 30px;
  padding-top: 100px;
  width: 100%;
}

.liveNote .page .data .liveNoteBadge {
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #339c3a;
  color: #fff;
  font-family: p;
  font-size: 18px;
  border-radius: 10px;
  width: max-content;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.liveNote .page .data .liveNoteBadge .indicator {
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
}
