.liveNote {
  background: radial-gradient(at 0 0, #339c3a26, #ffffff);
  min-height: 100vh;
}

.liveNote .page {
  display: flex;
}

.liveNote .page .data {
  padding: 30px;
  padding-top: 100px;
  width: 100%;
}

.liveNote .page .data .pageInfo {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.liveNote .page .data .pageInfo .pageInfoTitle {
  display: flex;
  gap: 5px;
  align-items: center;
  background-color: #339c3a;
  color: #fff;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  width: fit-content;
}

.liveNote .page .data .liveNoteBadge {
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #a3a3a354;
  font-family: p;
  font-size: 18px;
  border-radius: 10px;
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.liveNote .page .data .liveNoteBadge .indicator {
  width: 10px;
  height: 10px;
  background-color: #339c3a;
  border-radius: 50%;
}

.liveNote .page .data .viewerCount {
  display: flex;
  gap: 5px;
  align-items: center;
  background-color: #a3a3a354;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  width: fit-content;
}

.liveNote .page .data .wordProcessor {
  margin-top: 20px;
}

.liveNote .page .data .wordProcessor .quill .ql-toolbar.ql-snow {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border: 1px solid #a3a3a354;
  background-color: #fff;
}

.liveNote .page .data .wordProcessor .quill .ql-container.ql-snow {
  background-color: #fff;
  height: 400px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 1px solid #a3a3a354;
  margin-top: -1px;
}
