.resources {
  background: radial-gradient(at 0 0, #339c3a26, #ffffff);
  min-height: 100vh;
}

.resources .page {
  display: flex;
}

.resources .page .data {
  padding: 30px;
  padding-top: 100px;
  width: 100%;
}

.resources .page .data .pageInfo {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.resources .page .data .pageInfo .pageInfoTitle {
  display: flex;
  gap: 5px;
  align-items: center;
  background-color: #339c3a;
  color: #fff;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  width: fit-content;
}
