.console {
  background: radial-gradient(at 0 0, #339c3a26, #ffffff);
  min-height: 100vh;
}

.console .page {
  display: flex;
}

.console .data {
  padding: 30px;
  padding-top: 100px;
  width: 100%;
}

.console .data .container {
  margin-top: 20px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.console .data .container .item {
  background-color: #ffffff;
  border: 1px solid #a3a3a354;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.console .data .container .item h2 {
  margin-bottom: 20px;
}

.console .data .container .item button {
  margin-top: 20px;
}

.console .data .container .item.profile {
}

.console .data .container .item.profile .profileName {
  font-family: h1;
  margin-bottom: 0;
}

.console .data .container .item.profile .profilePicture {
  margin-bottom: 10px;
  background-color: #339c3a26;
  padding: 20px;
  border-radius: 10px;
}

.console .data .container .item .notification {
  padding: 20px;
  background-color: #339c3a26;
  border-radius: 10px;
}

.console .data .container .item .notification .notificaitonTitle {
  font-family: h1;
}

.console .data .container .item .classes {
  list-style: none;
}

.console .data .container .item .classes li {
  padding: 10px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
}

.console .data .container .item .classes li .classTitle {
  font-family: h1;
}

.console .data .container .item .classes li:hover {
  background-color: #a3a3a32c;
  cursor: pointer;
}

.console .data .container .item .classes li img {
  width: 14px;
  height: 14px;
  rotate: 45deg;
}
