.console {
  background: radial-gradient(at 0 0, #339c3a26, #ffffff);
  min-height: 100vh;
}

.console .consolecontent {
  display: flex;
}

.console .page {
  padding: 30px;
  padding-top: 100px;
  width: 100%;
}

.console .page .container {
  margin-top: 20px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.console .page .container .item {
  background-color: #ffffff;
  border: 1px solid #a3a3a354;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
}

.console .page .container .item .classes {
  list-style: none;
}

.console .page .container .item .classes li {
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  align-items: center;
  gap: 5px;
  border-radius: 10px;
}

.console .page .container .item .classes li:hover {
  background-color: #a3a3a32c;
  cursor: pointer;
}

.console .page .container .item .classes li img {
  width: 14px;
  height: 14px;
  rotate: 45deg;
}
