.sidebar {
  position: relative;
  top: 0;
  left: 0;
  width: auto;
}

.sidebar .sidebarContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  border-right: 1px solid #a3a3a354;
  background-color: #fff;
  z-index: 1;
  animation: sidebarIn 0.2s ease-in-out;
}

@keyframes sidebarIn {
  0% {
    transform: translateX(-400px);
  }
}

.sidebar .logoAndToggle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.sidebar .sidebarContent .logoAndToggle .logo {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  font-family: h1;
  font-size: 30px;
  padding: 20px;
}

.sidebar .showSidebar.false {
  position: fixed;
  top: 20px;
  left: 20px;
}

.sidebar .showSidebar.true {
  padding-right: 20px;
}
